span-head {
  font-family: 'Ubuntu';
	font-weight: bold;
	width: auto;
}

span-value {
  font-family: 'Ubuntu';
	font-weight: normal;
	color: #d50000;
}

span-input, input {
	font-family: ' Spectral SC';
}

table, th, td, tr {
    border: 1px solid black;
    width: auto;
}